body {
  background-color: #1B202B;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.main {
  position: fixed;
  display: flex;
  align-items: center;
  height: 75px;
  width: 100vw;
  color: #fff;
  border-bottom: 2px solid #2D3547;
}

.main img {
  width: 50px;
  height: 50px;
  margin: auto 20px auto 15px;
}

.main .user {
  width: 500px;
  position: relative;
  top: 8px;
}

.main .post {
  font-size: 0.85em;
  color: #7487b5;
  position: relative;
  bottom: 8px;
}

.main a {
  position: fixed;
  right: 0;
  margin-right: 15px;
  color: #fff;
  border: 2px solid #536182;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.main a:hover {
  color: #ff9500;
  border: 2px solid #ff9500;
}

.employees {
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow: auto;
  margin-top: 75px;
}

.employee {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  display: flex;
  width: 300px;
  padding: 10px 100px 10px 25px;
  font-size: 1em;
  color: #e6eeff;
  text-decoration: none;
}

.employee:hover {
  background-color: #2D3547;
  color: #ff9500;
}

.content {
  display: flex;
  flex-direction: column;

  margin-top: 77px;
  width: 50vw;
  height: 100%;
  margin-left: 22.5vw;

  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.content .subText {
  color: #a4c0ff;
}

.content input {
  background: none;
	outline: inherit;

  color: #e6eeff;
  width: 300px;
  margin: 10px 0px 10px 0px;
  height: 40px;
  border: 2px solid #47536f;
  border-radius: 5px;
  padding-left: 15px;
}

.content input::placeholder {
  color: #7c91c1;
  font-size: 1em;
}

.content button {
  background: none;
	outline: inherit;
  width: 300px;

  color: #fff;
  margin: 10px 0px 10px 0px;
  height: 40px;
  background-color: #47536f;
  border: 0px;
  border-radius: 5px;
}

.content button:nth-child(1) {
  border-bottom: 2px solid rgb(255, 57, 57);
  border-radius: 0px;
  font-weight: bold;
  color: rgb(255, 57, 57);
  background: none;
}

.content button:nth-child(2) {
  width: 60px;
  height: 46px;
}

.content button:nth-child(1):hover {
  background-color:  rgb(255, 57, 57);
  color: #fff;
  font-weight: bold;
}

.content button:hover {
  border: 0px;
  background-color: #6879a1;
  cursor: pointer;
}

.content button:active {
  background-color: #ff9500;
  border: 0px;
  color: #fff;
}

.addEmployee {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 25px 25px 0px 25px;
  margin-top: 75px;
  border-left: 2px solid #2D3547;
}

.addEmployee select {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  color: #fff;
  background-color: #2D3547;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  width: 100%;
}

.addEmployee input {
  background: none;
	outline: inherit;

  color: #fff;
  width: 93%;
  margin: 10px 0px 10px 0px;
  height: 40px;
  border: 2px solid #47536f;
  border-radius: 5px;
  padding-left: 15px;
}

.addEmployee input::placeholder {
  color: #7c91c1;
  font-size: 1em;
}

.addEmployee .addButton {
  width: 100%;
  background-color: #47536f;
}

.addEmployee .addButton:hover {
  border: 2px solid #6879a1;
  background-color: #6879a1;
  cursor: pointer;
}

.addEmployee .addButton:active {
  background-color: #ff9500;
  border: 2px solid #ff9500;
  color: #fff;
}
