<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home.css">
  <title>Intranet/page/me</title>
</head>
<body>
  <div class="profil">
    <div class="debut" >
      <img class="imgprofil" src="/projet_fianal_sql/pictures/icons8-utilisateur-50.png"> 
      <p class="poste" >Directeur</p></div>  
    
    <p class="userinfo" >Anthony POUCHARD</p>
    <a class="connect" href="login.html" >Disconnect</a>
  </div>
  <div class="back">
    <div class="name" >
      <p>{{ range $i , $employee := . }}
        
          <a class="aname" href="/home">{{ $employee.FirstName }} {{ $employee.LastName }}</a>
        
        {{ end }}</p>
      
    </div>
  </div>
 
</body>
</html>