<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/login.css">
  
  <title>LaCochonaille/login</title>
</head>
<body>
  <div class="center-div">
    <div tittle class="tittle"><bold>La Cochonaille</bold></div>
    
    <form class="form" action="home.html" method="post">
      <ul>
        <li class="user">
          <label class="userlabel"><bold>Username:</bold></label>
          <input type="text" id="name" name="user_name" />
        </li>
        <li class="pass">
          <label class="passlabel" for="password"><bold>Password:</bold></label>
          <input type="pass" id="pass" name="user_password" />
        </li>
        
      </ul>
      <a class="submit" href="/home">Submit</a>
    </form>
    </div>
  
</body>
</html>